<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheets.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!--[if lt IE 9]>
		<script src="/lib/HTML5/html5.js"></script>
		<![endif]-->
		<title><%= title %></title>
		<!-- KILLHAPPY. 2013-05-06 -->
	</head>

	<body>
	<div class="wrapper">
	
		<section class="k-page">
			<h2><%= title %></h2>
			<p>&nbsp;</p>
			<p class="about"><span class="s">Name：</span><%= info.author.name %></p>
			<p class="about"><span class="s">Profession：</span><%= info.author.profession %></p>
			<p class="about"><span class="s">QQ：</span><%= info.author.qq %></p>
			<p class="about"><span class="s">Email：</span><%= info.author.email %></p>
			<p class="about"><span class="s">Hobby：</span><%= info.author.hobby %></p>
			<p class="about"><span class="s">Focus：</span><%= info.author.focus %></p>
			<p class="about-des"><%= info.author.resume %></p>              
		</section>
	
		<footer>
			<p><small>&copy; <%= info.year %>. <%= info.author.name %></small></p>
		</footer>
	
	</div>
	
	<script type="text/javascript" src="/javascripts/scale.js"></script>   
	</body>
</html>
